<!DOCTYPE html>
<html>
  <head>
	<title> CTM 2.0 Beta - Custom Time Box</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/> 
	<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">	
	<!-- TimeLine -->
	<script src="js/date.js"></script>
	<script type="text/javascript" src="timeline/timeline.js"></script>
	
	<link rel="stylesheet" href="css/boxes.css">

	
	<link rel="stylesheet" type="text/css" href="timeline/timeline.css">

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js'></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="js/jquery.ui.touch-punch.min.js"></script>
	
	
 </head>
<body>

<!-- NAVIGATION -->
      
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">CTM 2.0 BETA</a>
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/custom-timebox">Custom Time Box</a></li>
    </ul>
  </div>
</div>

<!-- MAIN CONTENT -->
<div class="row-fluid">

<!-- SUB NAV LEFT -->

<!-- END SUB NAV LEFT -->

 <!-- MAIN APP SPACE -->
<div class="span12">
	<table class="table table-striped table-condensed">
		<caption>Tasks</caption>
		<thead><tr><th width="75px">Name</th><th width="50px">Assigned to</th><th width="50px">Completed</th><th>Supply Moment</th></tr></thead>
		<tbody data-bind="foreach:tasks">
			<tr>
				<td data-bind="text:Name"></td>
				<td data-bind="text:AssignedTo"></td>
				<td data-bind="text:PercCompleted"></td>
				<td> <div data-bind="attr: { id: 'timelineRow-'+RowKey}"> 
					<div class="time-line-box"> 
						<div data-bind="attr: { id: 'task-box-'+RowKey}, draggableItem: $data" class="task-box"><span></span></div>
					</div>
				</div>
				</td>
			</tr>     
		</tbody>
		
	</table>
	<div id="info"></div>
 </div>
<!-- END MAIN APP SPACE -->
</div>
<!-- END MAIN CONTENT --> 
</body>
<script type="text/javaScript" src="komodels/taskmodel.js"></script> 
	<script>
	  $(document).ready(function () {
			
		ko.bindingHandlers.draggableItem = {
			init: function (element, valueAccessor){
					var taskItem = valueAccessor();
					var normalDate = Date.today(); //parse(taskItem.CompletionDate);
					console.log(normalDate);
					var date = normalDate.toString("d-MM-yyyy-HH:mm");
					//console.log(date);					
					
					$(element).draggable({ 
					axis: "x", 
					containment: "parent",
					drag: function(){
						var offset = $(element).offset();
						var xPos = offset.left;
						$(element).find('span').text("x: " + xPos + " START:" + date);
					}
				});
			}
		}

		
		ko.applyBindings(new TaskListViewModel());
		console.log("Done loading tasklistviewmodel");		
	});
</script>

</html>