<!DOCTYPE html>
<html>
  <head>
	<title> CTM 2.0 Beta - Custom Time Box</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/> 
	<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">	
	<!-- TimeLine -->
	<script type="text/javascript" src="timeline/timeline.js"></script>
	
	
	<link rel="stylesheet" type="text/css" href="timeline/timeline.css">

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js'></script>

	<script type="text/javascript" src="js/shapes.js"></script>
	
	
	<script>
	  jQuery(document).ready(function () {
		
			
		  	
		  $("[id^=canvasTimeBox]").each(function( index ) {
				
			var rowPrioIndex = $(this).attr("id"); 
			var s = new CanvasState(document.getElementById(rowPrioIndex));
			s.addShape(new Shape(40,40,50,50)); // The default is gray
			s.addShape(new Shape(60,140,40,60, 'lightskyblue'));
			  // Lets make some partially transparent
			s.addShape(new Shape(80,150,60,30, 'rgba(127, 255, 212, .5)'));
			s.addShape(new Shape(125,80,30,80, 'rgba(245, 222, 179, .7)'));
		});
	});
  </script>
 </head>
<body>

<!-- NAVIGATION -->
      
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">CTM 2.0 BETA</a>
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/custom-timebox">Custom Time Box</a></li>
    </ul>
  </div>
</div>

<!-- MAIN CONTENT -->
<div class="row-fluid">

<!-- SUB NAV LEFT -->
	<div class="span2">
		<ul class="nav nav-list">
			<li class="nav-header">Werkmomenten</li>
			<li class="active"><a href="#">Top 20</a></li>
			<li><a href="#">Bewerken</a></li>
			<li class="nav-header">Daily standup A1</li>
			<li class="nav-header">Etc.</li>
			<li class="nav-header">Voeg toe</li>
		</ul>
	</div>
<!-- END SUB NAV LEFT -->

 <!-- MAIN APP SPACE -->
<div class="span10">
	<p> <div class="logmsg"></div></p>
	<table class="table table-striped">
		<caption>Tasks</caption>
		<thead><tr><th>Name</th><!--  <th>GroupId</th> <th>Customer</th><th>Project</th> --><th>Assigned to</th><th>Completed</th><th>Supply Moment</th></tr></thead>
		<tbody data-bind="foreach:tasksStatic">
			<tr>
				<td data-bind="text:name"></td>
				<td data-bind="text:assignedTo"></td>
				<td data-bind="text:completed"></td>
				<td> <div data-bind="attr: { id: 'timelineRow'+priority}"> 
				<canvas data-bind="attr: { id: 'canvasTimeBox'+priority}" width="200" height="100" style="border:1px solid #000000;"></canvas>
				</div></td>
			</tr>     
		</tbody>
		
	</table>
	<div id="info"></div>
 </div>
<!-- END MAIN APP SPACE -->
</div>
<!-- END MAIN CONTENT --> 
</body>
<script type="text/javaScript" src="komodels/taskmodel.js"></script> 
</html>