<!DOCTYPE html>
<html>
  <head>
	<title> CTM 2.0 Beta </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/> 
	<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">	
	<!-- TimeLine -->
	<script type="text/javascript" src="timeline/timeline.js"></script>
	<link rel="stylesheet" type="text/css" href="timeline/timeline.css">

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js'></script>
</head>
<body>

<!-- NAVIGATION -->
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">CTM 2.0 BETA</a>
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="timebox">Timebox</a></li>
    </ul>
  </div>
</div>

<!-- MAIN CONTENT -->
<div class="row-fluid">

<!-- MAIN APP SPACE -->
<div class="span10">
	<table class="table table-striped">
		<caption>Tasks</caption>
		<thead><tr><th>Name</th><th>Assigned to</th><th>Completed</th><th>Supply Moment</th></tr></thead>
		<tbody data-bind="foreach:tasks">
			<tr>
				<td data-bind="text:Name"></td>
				<td data-bind="text:AssignedTo"></td>
				<td data-bind="text:PercCompleted"></td>
				<td>
					<div data-bind="attr:{id: 'timelineRow-'+Priority}, timelineBox:$data"> </div>
				</td>
			</tr>     
		</tbody>
	</table>
	<div id="info"></div>
 </div>
<!-- END MAIN APP SPACE -->
</div>
<!-- END MAIN CONTENT --> 
</body>
<script type="text/javaScript" src="komodels/taskmodel.js"></script> 
	<script>

	  $(document).ready(function () {
		ko.bindingHandlers.timelineBox = {
			init: function(element, accessor){
				
				var taskModel = accessor();
				// Create the JSON data table
				var data = [
				   {
						'start': new Date(taskModel.CompletionDate),
						'content': "Taak"
					}
				];

				// specify options
				var options = {
					'width':  'auto',
					'height': 'auto',
					'editable': true,   // enable dragging and editing events
					'style': 'box',
					'showMajorLabels' : false,
					'showMinorLabels' : true
				};
				
			
				var timeline = new links.Timeline(element);
				
				function onRangeChanged(properties) {
					document.getElementById('info').innerHTML += 'rowPrioIndex :' + taskModel  + 'rangechanged ' +
						properties.start + ' - ' + properties.end + '<br>';
				}

	
				// attach an event listener using the links events handler
				links.events.addListener(timeline, 'rangechanged', onRangeChanged);

				// Draw our timeline with the created data and options
				timeline.draw(data, options);
				
			}
		}		

		
			ko.applyBindings(new TaskListViewModel());
			console.log("Done loading tasklistviewmodel");		
		
		});
</script>
</html>