<!DOCTYPE html>
<html>
  <head>
	<title> CTM 2.0 Beta </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/> 
	<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">	
	<!-- TimeLine -->
	<script type="text/javascript" src="timeline/timeline.js"></script>
	<link rel="stylesheet" type="text/css" href="timeline/timeline.css">

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js'></script>

	
	<script type="text/javascript">
       
        // Called when the Visualization API is loaded.
        function drawVisualization(id) {
            var data;
			// Create a JSON data table
            data = [
               {
                    'start': new Date(2010,7,24,16,0,0),
                    'content': 'Taak'
                }
            ];

            // specify options
            var options = {
                'width':  '300px',
                'height': 'auto',
                'editable': true,   // enable dragging and editing events
                'style': 'box',
				'showMajorLabels' : false,
				'showMinorLabels' : false
            };
			
			var timelines = Array();
		
			$("[id^=timelineRow]").each(function( index ) {
				var timeline;
				
				//console.log("Index :" + index);
				
			    var rowPrioIndex = $(this).attr("id"); 
				//console.log("rowPrioIndex :" + rowPrioIndex);
				// Instantiate our timeline object.
				timeline = new links.Timeline(document.getElementById(rowPrioIndex));

				function onRangeChanged(properties) {
					document.getElementById('info').innerHTML += 'rangechanged ' +
							properties.start + ' - ' + properties.end + '<br>';
				}

				// attach an event listener using the links events handler
				links.events.addListener(timeline, 'rangechanged', onRangeChanged);

				// Draw our timeline with the created data and options
				timeline.draw(data, options);
				
				timelines.push(timeline);
				
			});
			
        }
    </script>
	
	<script>
	  jQuery(document).ready(function () {
		drawVisualization(); 
	});
  </script>
	
	
	
	
	
	
	
</head>
<body>

<!-- NAVIGATION -->
      
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">CTM 2.0 BETA</a>
    <ul class="nav">
      <li class="active"><a href="#">Taken</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>

<!-- MAIN CONTENT -->
<div class="row-fluid">

<!-- SUB NAV LEFT -->
	<div class="span2">
		<ul class="nav nav-list">
			<li class="nav-header">Werkmomenten</li>
			<li class="active"><a href="#">Top 20</a></li>
			<li><a href="#">Bewerken</a></li>
			<li class="nav-header">Daily standup A1</li>
			<li class="nav-header">Etc.</li>
			<li class="nav-header">Voeg toe</li>
		</ul>
	</div>
<!-- END SUB NAV LEFT -->

 <!-- MAIN APP SPACE -->
<div class="span10">
	<div id="mytimeline"></div>
	<div id="info"></div>

	<table class="table table-striped">
		<caption>Tasks</caption>
		<thead><tr><th>Name</th><th>GroupId</th><th>Customer</th><th>Project</th><th>Assigned to</th><th>Completed</th><th>Supply Moment</th></tr></thead>
		<tbody data-bind="foreach:tasksStatic">
			<tr>
				<td data-bind="text:name"></td>
				<td data-bind="text:groupId"></td>
				<td data-bind="text:customerId"></td>
				<td data-bind="text:projectId"></td>
				<td data-bind="text:assignedTo"></td>
				<td data-bind="text:completed"></td>
				<td> <div data-bind="attr: { id: 'timelineRow'+priority}"> </div></td>
			</tr>     
		</tbody>
	</table>
 </div>
<!-- END MAIN APP SPACE -->
</div>
<!-- END MAIN CONTENT --> 
</body>
<script type="text/javaScript" src="komodels/taskmodel.js"></script> 
</html>