<!DOCTYPE html>
<html>
  <head>
	<title> CTM 2.0 Beta </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/> 
	<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">	
	
		<!-- TimeLine -->
	<script type="text/javascript" src="timeline/timeline.js"></script>
	<link rel="stylesheet" type="text/css" href="timeline/timeline.css">

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js'></script>
</head>
<body>

<!-- NAVIGATION -->
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">CTM 2.0 BETA</a>
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
     </ul>
  </div>
</div>

<!-- MAIN CONTENT -->
<div class="row-fluid">

<!-- MAIN APP SPACE -->
<div class="span10">
	<table class="table table-striped">
		<caption>Tasks</caption>
		<thead><tr><th>Name</th><th data-bind="headerTimeLine:$data">T</th></tr></thead>
		<tbody data-bind="foreach:projects">
			<tr>
				<td data-bind="text:ProjectName"></td>
				<td>	
						<div data-bind="projectTimeLine:$data"> </div>
				</td>
					
			</tr>
			<!-- ko foreach: Tasks -->
				<tr>
					<td data-bind="text:TaskName"></td>
					<!---<td data-bind="text:EndDate"></td> -->
					<td>	
						<div data-bind="taskTimeLine:$data"> </div>
					</td>
					
				</tr>
			<!-- /ko -->
		</tbody>
	</table>
	<textarea data-bind='value: lastSavedJson' rows='10' cols='500' disabled='disabled'> </textarea>
	<p>
    <button data-bind='click: save, enable: projects().length > 0'>Save to JSON</button>
</p>
 </div>
<!-- END MAIN APP SPACE -->
</div>
<!-- END MAIN CONTENT --> 
</body>
<script type="text/javaScript" src="komodels/koProjectmodel.js"></script> 

	<script>

	
	  var timeline_width = "800px";	
	  var timelines = new Array();
	  
	  
	  function updateRanges(start, end){
		
		//var range = timeline.getVisibleChartRange();
		
		for(var i = 0; i < timelines.length; i++){
			
			//if(timelines[i] != timeline){
				timelines[i].setVisibleChartRange(start, end);
			//}
		} 
	  
	  }
	  
	  
	  $(document).ready(function () {
		
		ko.bindingHandlers.headerTimeLine = {
			init: function(element, accessor){
				
				var projectModel = accessor();
				
				var startDate = new Date(projectModel.firstStartDate());
				var endDate = new Date(projectModel.lastEndDate());
				
				// Create the JSON data table
				var data = [
					{
						'start': startDate,
						'end' : endDate,
						'content' : "alle projecten",
						'type' : "box"			
					}
				];

				
				// specify options
				var options = {
					start : startDate,
					end : endDate,
					width:  timeline_width,
					height: "auto",
					editable: false,   // enable dragging and editing events
					style: "box",
					showMajorLabels : true,
					showMinorLabels : true,
					scale: links.Timeline.StepDate.SCALE.DAY,
					step: 1
				};
				
			
				var timeline = new links.Timeline(element);

	
				function onRangeChanged(properties) {
						updateRanges(properties.start, properties.end);
				}

					// attach an event listener using the links events handler
				links.events.addListener(timeline, 'rangechange', onRangeChanged);
			
				timelines.push(timeline);
				// Draw our timeline with the created data and options
				timeline.draw(data, options);
				
			}
		}
		
		
		ko.bindingHandlers.projectTimeLine = {
			init: function(element, accessor){
				
				var projectModel = accessor();
				
				// Create the JSON data table
				var data = [
					{
						'start': new Date(projectModel.StartMoment()),
						'end' : new Date(projectModel.EndMoment()),
						'content' : "project",
						'type' : "box"			
					}
				];

				// specify options
				var options = {
					start : new Date(projectModel.StartMoment()),
					end : new Date(projectModel.EndMoment()),
					width:  timeline_width,
					height: "auto",
					editable: true,   // enable dragging and editing events
					style: "box",
					showMajorLabels : true,
					showMinorLabels : false,
					scale: links.Timeline.StepDate.SCALE.DAY,
					step: 1
				};
				
			
				var timeline = new links.Timeline(element);

	
				function onRangeChanged(properties) {
						updateRanges(properties.start, properties.end);
				}

					// attach an event listener using the links events handler
				links.events.addListener(timeline, 'rangechange', onRangeChanged);
			
				function onChanged(){
					console.log(data[0].start.toLocaleString() + " " + data[0].end.toLocaleString());
					projectModel.StartMoment(data[0].start);
					projectModel.EndMoment(data[0].end);
					
				}
	
				function onAdded(){
					timeline.cancelAdd();
				}
				
				links.events.addListener(timeline, 'change', onChanged);
				links.events.addListener(timeline, 'add', onAdded);
						
				timelines.push(timeline);
				// Draw our timeline with the created data and options
				timeline.draw(data, options);
				
			}
		}
		
		
		ko.bindingHandlers.taskTimeLine = {
			init: function(element, accessor, allBindingsAccessor, viewModel, bindingContext){
				
				
				var taskModel = accessor();
			
				var data = [
					{
						'start': new Date(taskModel.StartMoment()),
						'end' : new Date(taskModel.EndMoment()),
						'content' : "taak",
						'type' : "box"			
					}
				];

				
				var parent = bindingContext.$parent;
				
				// specify options
				var options = {
					start : new Date(parent.StartMoment()),
					end : new Date(parent.EndMoment()),
					width:  timeline_width,
					height: "auto",
					editable: true,   // enable dragging and editing events
					style: "box",
					showMajorLabels : false,
					showMinorLabels : true,
					scale: links.Timeline.StepDate.SCALE.DAY,
					step: 1
				};
				
			
				var timeline = new links.Timeline(element);
				
				function onRangeChanged(properties) {
						updateRanges(properties.start, properties.end);
				}

					// attach an event listener using the links events handler
				links.events.addListener(timeline, 'rangechange', onRangeChanged);
			
				function onChanged(){
					console.log(data[0].start.toLocaleString() + " " + data[0].end.toLocaleString());
					taskModel.StartMoment(data[0].start);
					taskModel.EndMoment(data[0].end);
					
				}
				
				
				function onAdded(){
					timeline.cancelAdd();
				}
				
				links.events.addListener(timeline, 'change', onChanged);
				links.events.addListener(timeline, 'add', onAdded);
			
				
				timelines.push(timeline);
				// Draw our timeline with the created data and options
				timeline.draw(data, options);
				
			}
		}		
		var initialProjectData = getInitialData(); 
		
		ko.applyBindings(new koProjectsModel(initialProjectData));
		
	
		});
</script>


</html>