<!DOCTYPE html>
<html>
  <head>
	<title> CTM 2.0 Beta </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/> 
	<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">	
	
		<!-- TimeLine -->
	<script type="text/javascript" src="timeline/timeline.js"></script>
	<link rel="stylesheet" type="text/css" href="timeline/timeline.css">
	<link rel="stylesheet" type="text/css" href="css/ctm.css">

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js'></script>
	
</head>
<body>

<!-- NAVIGATION -->
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">CTM 2.0 BETA</a>
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
     </ul>
  </div>
</div>

<!-- MAIN CONTENT -->
<div class="row-fluid">
	<div class="span1"></div>
	<!-- MAIN APP SPACE -->
	<div class="span11">
	  	<table class="table table-striped">
			<caption>Tasks</caption>
			<thead><tr><th>Name</th><th>Start</th><th>End</th><th>Completed</th>
			<th>
			  	<div class="btn-group">
				  <button class="btn" onclick="switchViewScale('Day')">Day</button>
				  <button class="btn" onclick="switchViewScale('Week')">Week</button>
				  <button class="btn" onclick="switchViewScale('Month')">Month</button>
				</div>
			</th>	
			<!--<th data-bind="headerTimeLine:$data" class="ctm-tablecolumn-timeline">T</th></tr></thead> -->
			<tbody data-bind="template: { name:'project-template', foreach:projects}">
			</tbody>
		</table>
	</div>
	<!-- END MAIN APP SPACE -->
</div>
<!-- END MAIN CONTENT --> 
</body>

<script type="text/html" id="project-template">
	<tr>
		<td data-bind="text:ProjectName"></td>
		<td data-bind="text:StartMoment" class="ctm-tablecolumn-text">Colum1</td>
		<td data-bind="text:EndMoment" class="ctm-tablecolumn-text">Colum2</td>
		<td data-bind="text:Completed"></td>
		<td>	
			<div data-bind="projectTimeLine:$data"> </div>
		</td>
	</tr>
	<!-- ko foreach: Tasks -->
	<tr>
		<td data-bind="text:TaskName"></td>
		<td data-bind="text:StartMoment" class="ctm-tablecolumn-text">Colum1</td>
		<td data-bind="text:EndMoment" class="ctm-tablecolumn-text">Colum2</td>
		<td data-bind="text:Completed"></td>
		<td>	
			<div data-bind="taskTimeLine:$data" class="ctm-tablecolumn-timeline"></div>
		</td>
	</tr>
	<!-- /ko -->
</script>

<script type="text/javaScript" src="komodels/koProjectmodel.js"></script> 

<script>

var timelinewidth = "90%";	
var timelineheigth = "80px";	
var timelineHeaderheigth = "40px";
var timelines = new Array();

function updateRanges(start, end){
	for(var i = 0; i < timelines.length; i++){
			timelines[i].setVisibleChartRange(start, end);
	} 
}

/* 
 *
 */
function switchViewScale(Scale){
	if(Scale == 'Day'){
		var initialProjectData = getInitialData(links.Timeline.StepDate.SCALE.HOUR, 6); 
		ko.applyBindings(new koProjectsModel(initialProjectData));
	}

	if(Scale == 'Week'){
		var initialProjectData = getInitialData(links.Timeline.StepDate.SCALE.DAY, 1); 
		ko.applyBindings(new koProjectsModel(initialProjectData));
	}

	if(Scale == 'Month'){
		var initialProjectData = getInitialData(links.Timeline.StepDate.SCALE.DAY, 7); 
		ko.applyBindings(new koProjectsModel(initialProjectData));
	}
}

		
$(document).ready(function () {

	var initialProjectData = getInitialData(links.Timeline.StepDate.SCALE.HOUR, 6); 
	ko.applyBindings(new koProjectsModel(initialProjectData));
});
</script>


</html>